.sorting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.columns_container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  justify-content: center;
  align-items: end;
  height: 365.5px;
}